
/* ====中间部分b==================================================== */

.bOthers{
	background-color:#f6f5f4;/* #f8f7f6 */
	width: 100%;
	height: 777px;
	overflow: hidden;
	/* position: relative; */
	/* margin: 0 auto; */
}
.bContent{
	background-color:#f6f5f4;/* #f8f7f6 */
	width: 1180px;
	height: 777px;
	margin: 0 auto;
	/* position: relative; */
}
.bOthers p{
	width: 1180px;
	margin: 0 auto;
}
/* ----左b-------------------------------------- */
.bLeft{
	background-color:#ffffff;/* #f8f7f6 */
	width: 995px;
	height: 630px;
	float: left;
}
.bLeft1{
	background-color:pink;/* #f8f7f6 */
	margin: 10px;
	width: 410px;
	height: 500px;
	float: left;
	border: 1px solid #d0cdc7;
}
.zhanShi{
	background-color:white;/* #f8f7f6 */
	width: 408px;
	height: 410px;
	position:relative;
	border: 1px solid #d0cdc7;
}
.zhanShi>img{
	width:408px;
	height:408px;
	position:absolute;
	left:0;
	top:0;
}
.small>img{
	float: left;
}

#slider{
	width:150px;
	height:150px;
	position:absolute;
	left:0;
	top:0;
	background:#CCC;
	opacity:0.4;
	cursor: move;
	display:none; 
	/* filter:alpha(opacity=40); */
}
		
#Bimg{
	position:absolute;
	left:0;
	top:0;
}

.bLeft3{
	background-color:black;/* #f8f7f6 */
	border: 1px solid #d0cdc7;
	width: 410px;
	height: 410px;
	float: left;
	display: none;
	position:absolute;
	left:-10px;
	top:10px;
	overflow: hidden;
}


.bLeft2{
	margin-top: 10px;
	background-color:#ffffff;/* #f8f7f6 */
	width: 500px;
	height: 430px;
	float: left;
}
.bLeft2>h1{
	font-size: 16px;
	line-height: 20px;
}
.bLeft2 .bLeft2_jieshao{
	color: #676660;
	width: 500px;
	font-size: 11px;
	margin-bottom: 25px;
	line-height: 20px;
}
.sp0{
	margin: 0 15px 0 20px;
	line-height: 22px;
	font-size: 12px;
}
.sp1{
	margin: 0 15px 0 20px;
	line-height: 70px;
	font-size: 12px;
}
.sp2{
	margin: 0 15px 0 20px;
	line-height: 30px;
	font-size: 12px;
}
.datu{
	float: left;
	position: relative;
}
.bLeft_vip{
	width: 500px;
	height: 42px;
	background-color: #f7f6f5;
	font-size: 15px;
}
.bLeft_vip>*{
	margin: 10px 0 0 20px;
}
.bLeft_vip>div{
	border: 1px solid #ff0754;
	border-radius: 3px;
	float: left;
	margin-left: 20px;
}
.bLeft_vip>div>div{
	width: 32px;
	height: 18px;
	float: left;
	text-align: center;
}
.bLeft_jinghanliang{
	width: 500px;
	height: 70px;
	line-height: 70px;
}
.bLeft_jinghanliang>*{
	float: left;
	display: inline-block;
}
.bLeft_lijigoumai{
	width: 148px;
	height: 38px;
	color: #ff0754;
	background-color: white;
	border: 1px solid #ff0754;
	border-radius: 4px;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	margin-left: 20px;
	float: left;
}
.bLeft_jiagou{
	width: 148px;
	height: 38px;
	color: #ffffff;
	background-color: #ff0754;
	border: 1px solid #ff0754;
	border-radius: 4px;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	margin-left: 20px;
	float: left;
}

/* ----右b-------------------------------------- */
.bRight{
	background-color:pink;/* #f8f7f6 */
	width: 180px;
	height: 630px;
	margin-left: 5px;
	float: left;
	/* border-left: 1px solid #fe6c00; */
}

